.ee-footer {
  &__top {
    @include grid-parent-auto;

    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  &__column {
    @include grid-child-auto-responsive(6, 3, 3, 2);

    margin-bottom: 1.5rem;

    &--accessibility {
      @media all and (min-width: #{$screen-md-min}) {
        @include grid-child-auto(9);
      }

      @media all and (min-width: #{$screen-lg-min}) {
        @include grid-child-auto(9);
      }

      @media all and (min-width: #{$grid-max-width}) {
        @include grid-child-auto(2);
      }
    }

    h3, p, li {
      margin-bottom: 0.5rem;
    }

    h3 {
      @extend .type-tinyheading;
    }

    p, a {
      @extend .type-caption;
    }

    a {
      @extend .type-link;

      box-shadow: none;
    }
  }

  &__bottom {
    background-color: map-get($c-scale-neutral, 'fill-1');
    padding: 1rem 0 1.5rem 0;

    @media all and (min-width: #{$screen-md-min}) {
      padding: 1rem 0;
    }

    * {
      @extend .type-byline;

      font-weight: 600;
      color: $c-white;
    }

    ul {
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;

      @media all and (min-width: #{$screen-md-min}) {
        flex-flow: row wrap;
      }

      @media all and (min-width: #{$screen-lg-min}) {
        justify-content: space-between;
      }
    }

    .logo {
      margin-bottom: 1rem;
      width: 100%;
      text-align: center;

      img {
        height: 1.5rem;
        width: auto;
      }

      @media all and (min-width: #{$screen-lg-min}) {
        width: auto;
        margin: 0;
      }
    }

    .copyright {
      margin-bottom: 0.5rem;

      @media all and (min-width: #{$screen-md-min}) {
        margin: 0 0.75rem;
        margin-bottom: 0;
      }

      @media all and (min-width: #{$screen-lg-min}) {
        margin: 0;
      }
    }

    .radio-canada {
      margin-bottom: 0;

      a {
        text-decoration: none;
      }

      @media all and (min-width: #{$screen-md-min}) {
        margin: 0 0.75rem;
      }

      @media all and (min-width: #{$screen-lg-min}) {
        margin: 0;
      }
    }
  }
}
