// Base colours (see also colour scales in ./colour_scales.scss)
$c-black: #000;
$c-white: #fff;
$c-primary: map-get($c-scale-neutral, 'fill-1');
$c-variable: $c-scale-red; // Sets the 'variable' colour scale which is used for e.g. buttons


// UI feedback
$c-negative: #c42127;
$c-positive: #0c8319;
$c-live: #fab924;
$c-action-blue: #0075b8;

// Other colors
$c-gem-red: #f00;

// Sharing icon colors
$c-share-facebook: #3b5998;
$c-share-twitter: #1da1f2;
$c-share-email: #6fa251;
$c-share-reddit: #ff4500;
$c-share-linkedin: #0077b5;
