.type-tinyheading {
  font: 700 0.875rem/1.25rem $base-font-family;
  letter-spacing: 0.008125rem;
  color: $c-white;
}

.type-paragraph {
  font: 400 1rem/1.5rem $base-font-family;
  color: map-get($c-scale-neutral, 'fill-2');
}

// Used for photo captions and UI components
.type-caption {
  font: 400 0.875rem/1.25rem $base-font-family;
  color: #89949a;
}


// Generic link styling
.type-link {
  @extend .type-paragraph;

  color: map-get($c-scale-neutral, 'fill-7');
  text-decoration: none;
  box-shadow: inset 0 -1px 0 map-get($c-scale-neutral, 'fill-7');
  // transition: all 0.1s $default-transition-easing;

  &:hover {
    box-shadow: inset 0 -1px 0 $c-white;
  }

  &:active {
    background-color: map-get($c-scale-neutral-alpha, 'fill-9');
    box-shadow: inset 0 -1px 0 $c-white;
  }
}

.block-link {
  @extend .type-link;

  font-weight: 700;
  color: $c-primary;
  box-shadow: none;

  &:focus, &:hover, &:active {
    color: map-get($c-scale-neutral, 'fill-5');
  }
}