/* Base Font */
$base-font-family: 'Open Sans', Arial, Helvetica, sans-serif;
$base-font-weight: normal;
$base-font-size: 16px;
$base-line-height: 24px;

/* Base sizes */
$screen-md-min: 667px;
$screen-lg-min: 1024px;

$grid-gutter: 1rem;
$grid-gutter-md: 1.5rem;
$grid-gutter-lg: 2rem;
$grid-max-width: 80rem;

$default-transition-speed: 0.3s;
$default-transition-easing: ease-in;

$base-padding: $grid-gutter;
$base-padding-md: $grid-gutter-md;
$base-padding-lg: $grid-gutter-lg;
$base-border-radius: 4px;
$base-border-radius-lg: 8px;

/* Component sizes */
$header-height: 3.5rem;