.a11y {
    position: absolute!important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px,1px,1px,1px);
}

#gem-link {
    box-shadow: inset 0 -1px 0 #89949a;
}

.ee-footer__column > ul, .ee-footer__column > div > ul{
    list-style: none;
    list-style-position:inside;
    margin:0;
    padding:0;
}

.ee-footer__bottom {
    background-color: #272c30;
    padding: 1rem 0 1.5rem;
    font: 400 16px Open Sans,Arial,Helvetica,sans-serif;
}

.ee-footer {
  background-color: #272c30;

  &__top {
    @include grid-parent-auto;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    max-width:1280px;
  }

  &__column {
    @include grid-child-auto-responsive(6, 3, 3, 2);

    margin-bottom: 1.5rem;

    &--accessibility {
      @media all and (min-width: #{$screen-md-min}) {
        @include grid-child-auto(9);
      }

      @media all and (min-width: #{$screen-lg-min}) {
        @include grid-child-auto(9);
      }

      @media all and (min-width: #{$grid-max-width}) {
        @include grid-child-auto(2);
      }
    }


    h3, p, li {
      margin-bottom: 0.5rem;
    }

    h3 {
      @extend .type-tinyheading;
    }

    p, a {
      @extend .type-caption;
    }

    a {
      @extend .type-link;

      box-shadow: none;
    }
  }

  &__bottom {
    padding: 1rem 0 1.5rem 0;

    @media all and (min-width: #{$screen-md-min}) {
      padding: 1rem 0;
    }

    * {
      @extend .type-byline !optional;

      font-weight: 600;
      color: $c-white;
    }

    ul {
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;

      @media all and (min-width: #{$screen-md-min}) {
        flex-flow: row wrap;
      }

      @media all and (min-width: #{$screen-lg-min}) {
        justify-content: space-between;
      }
    }

    .logo {
      margin-bottom: 1rem;
      width: 100%;
      text-align: center;
      height:1.5rem;


      img {
        height: 1.5rem;
        width: auto;
      }

      @media all and (min-width: #{$screen-lg-min}) {
        width: auto;
        margin: 0;
      }
    }

    .copyright {
      margin-bottom: 0.5rem;

      @media all and (min-width: #{$screen-md-min}) {
        margin: 0 0.75rem;
        margin-bottom: 0;
      }

      @media all and (min-width: #{$screen-lg-min}) {
        margin: 0;
      }
    }

    .radio-canada {
      margin-bottom: 0;

      a {
        text-decoration: none;
      }

      @media all and (min-width: #{$screen-md-min}) {
        margin: 0 0.75rem;
      }

      @media all and (min-width: #{$screen-lg-min}) {
        margin: 0;
      }
    }
  }
}
